@rem: 100rem;
.setwh(@w,@h) {
  width: (@w / @rem);
  height: (@h / @rem);
}
// 版心
.w1200 {
  width: 1200./@rem;
  margin: 0 auto;
}

// 首页 开始
.index {
  // 固定背景 开始
  .fix-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../img/banner-1.jpg) repeat center;
    background-size: (1280/@rem) (768/@rem);
  }
  // 固定背景 结束

  // 环境 开始
  .environ {
    padding: 64./@rem 0 120./@rem;
    background-color: #f3f3f3;
    text-align: center;
    h2 {
      color: #212121;
      font: normal 700 34./@rem 'blank, tt, Arial, 微软雅黑';
    }
    .text {
      position: relative;
      margin: 21./@rem 0 100./@rem;
      font: normal 400 18./@rem 'SimSun';
      color: #989898;
      &::after {
        content: "";
        position: absolute;
        bottom: -20./@rem;
        left: 50%;
        margin-left: -18./@rem;
        .setwh(37,2);
        background-color: rgb(60, 181, 213);
      }
    }
    ul {
      li {
        float: left;
        margin-right: 30./@rem;
        background-color: #fff;
        .setwh(380, 440);
        &:last-of-type {
          margin-right: 0;
        }
        .pic {
          width: 100%;
          height: 221./@rem;
          overflow: hidden;
          img {
            transition: all .5s;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
        h3 {
          margin: 15./@rem 0 33./@rem;
          font: normal 700 18./@rem '微软雅黑';
          color: #666;
        }
        .contact-who,
        .telphone,
        .address {
          margin-bottom: 8./@rem;
          font-size: 14./@rem;
          font-family: '微软雅黑';
          color: #989898;
        }
        .deep {
          margin-top: 30./@rem;
          padding: 0 39./@rem;
          font-size: 14./@rem;
          font-family: '微软雅黑';
          color: #989898;
          .icon1 {
            .setwh(20,16);
          }
          .icon2 {
            .setwh(19,19);
          }
        }
      }
    }
    .more {
      .setwh(146,50);
      line-height: 50./@rem;
      margin: 80./@rem auto 0;
      border-radius: 5./@rem;
      background-color: #3cb5d5;
      font-weight: 700;
      font-size: 16./@rem;
      color: #fff;
      cursor: pointer;
    }
  }
  // 环境 结束

  // 关于 开始
  .about {
    margin: 80./@rem auto;
    padding: 35./@rem 302./@rem 122./@rem;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    box-sizing: border-box;
    .title {
      margin-bottom: 49./@rem;
      font-size: 18./@rem;
      color: #fff;
    }
    h2 {
      margin-bottom: 65./@rem;
      color: #fff;
      font-size: 40./@rem;
      font-weight: 700;
    }
    .text {
      line-height: 38./@rem;
      font-size: 18./@rem;
      color: #fff;
    }
    .detail {
      .setwh(240,45);
      margin: 100./@rem auto 0;
      line-height: 45./@rem;
      border: 2px solid #fff;
      font-size: 16./@rem;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }
  // 关于 结束

  // 模特 开始
  .model {
    padding: 60./@rem 0 93./@rem;
    background-color: rgb(225, 229, 232);
    text-align: center;
    h2 {
      position: relative;
      margin-bottom: 60./@rem;
      padding-bottom: 45./@rem;
      color: #333;
      font-size: 32./@rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -18./@rem;
        .setwh(37,2);
        background-color: rgb(60, 181, 213);
      }
    }
    .picture {
      padding: 10./@rem 52./@rem 40./@rem;
      border: 1px solid #E0DFDD;
      background-color: #fff;
      li {
        float: left;
        .setwh(303,442);
        margin-right: 80./@rem;
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        &:hover img {
          border: 1px solid #3B5FCB;
        }
        img {
          width: 100%;
          height: 400./@rem;
          border: 1px solid #E0DFDD;
        }
        .where-model {
          margin-top: 14./@rem;
        }
      }
    }
  }
  // 模特 结束

  // 新闻 开始
  .news {
    padding: 110./@rem 0 100./@rem;
    background-color: rgb(249, 249, 249);
    text-align: center;
    h1 {
      margin-bottom: 8./@rem;
      font-size: 32./@rem;
      color: #333;
    }
    .title {
      position: relative;
      padding-bottom: 15./@rem;
      margin-bottom: 58./@rem;
      font-size: 18./@rem;
      font-weight: 700;
      font-family: 'SimSun';
      color: #989898;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -18./@rem;
        .setwh(37,2);
        background-color: rgb(60, 181, 213);
      }
    }
    .content {
      .big-pic {
        .setwh(443,480);
        overflow: hidden;
      }
      ul {
        margin-left: 85./@rem;
        li {
          margin-bottom: 25./@rem;
        }
        .head-pic {
          .setwh(100,80);
          line-height: 80./@rem;
          margin-right: 38./@rem;
          border: 1px solid gray;
          overflow: hidden;
          &:hover {
            border: 1px solid #3B5FCB;
          }
        }
        .text {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: -28./@rem;
            top: 7./@rem;
            .setwh(9,9);
            border-radius: 50%;
            background-color: rgb(60, 181, 213);
          }
          h6 {
            margin-bottom: 3./@rem;
            font-size: 18./@rem;
            font-weight: 700;
            color:rgb(102, 102, 102);
          }
          p {
            width: 308./@rem;
            font-size: 14./@rem;
            color: rgb(152, 152, 152);
            text-align: left;
            text-indent: 2em;
          }
        }
        .time {
          margin-left: 50./@rem;
          font-size: 14./@rem;
          color: #989898;
        }
      }
    }
  }
  // 新闻 结束
}
// 首页 结束

// 环境展示 开始
.show-environ,
.environ-detail {
  .where-you {
    margin-top: 10./@rem;
    padding: 8./@rem 0 8./@rem 10./@rem;
    background-color: #f8f8f8;
    font-size: 14./@rem;
    color: #333;
    .arrow {
      color: #2090FF;
    }
  }
  .btn {
    .setwh(159,30);
    line-height: 30./@rem;
    margin: 15./@rem 0 22./@rem;
    border: 1px solid #f7f7f7;
    font-size: 14./@rem;
    color: #333;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover a {
      color: #2090FF;
    }
  }
  .show-style {
    &>ul>li {
      float: left;
      .setwh(290,360);
      padding: 50./@rem 10./@rem 0;
      border: 1px solid #f7f7f7;
      margin-right: 10./@rem;
      box-sizing: border-box;
      &:last-of-type {
        margin-right: 0;
      }
      .pic {
        .setwh(281,211);
        line-height: 211./@rem;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
      }
      .text {
        margin-top: 50./@rem;
        font-size: 14./@rem;
        color: #555;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .page-box {
      margin: 20./@rem 0;
      text-align: center;
      .total,
      .first-page,
      .previous,
      .next,
      .last-page {
        display: inline-block;
        margin-left: 5./@rem;
        padding: 5./@rem 10./@rem;
        border: 1./@rem solid #DDD;
        font: 400 12./@rem/1 'Microsoft Yahei';
        vertical-align: top;
        color: #AAA;
        background-color: #FFF;
        cursor: not-allowed;
      }
      .page {
        display: inline-block;
        li {
          margin-left: 5./@rem;
          padding: 4./@rem 10./@rem;
          border: 1./@rem solid #DDD;
          color: #fff;
        }
        li:first-of-type {
          background-color: #ccc;
        }
      }
    }
  }
}
.environ-detail {
  .where-you {
    margin-top: 0;
    a:last-of-type {
      color: #2090FF;
    }
  }
  h1 {
    margin: 20./@rem 0;
    font-size: 18./@rem;
    font-weight: 400;
    color: #000;
    text-align: center;
  }
  .watch-pic {
    .pic {
      position: relative;
      .setwh(400,400);
      line-height: 310./@rem;
      border: 1px solid #f8f8f8;
      text-align: center;
      .mask {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        .setwh(200, 200);
        opacity: .5;
        background-color: #fc980f;
        cursor: move;
      }
      .small-pic {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .big-pic {
        display: none;
        position: absolute;
        right: -300./@rem;
        top: 0;
        .setwh(300,300);
        background-color: #f8f8f8;
        overflow: hidden;
        img {
          position: absolute;
          width: 300%;
          height: 300%;
          object-fit: contain;
        }
      }
    }
    .price {
      width: 760./@rem;
      padding: 5./@rem 0;
      margin-left: 15./@rem;
      background-color: #f8f8f8;
      color: #666;
      font-size: 16./@rem;
    }
  }
  .share {
    width: 420./@rem;
    margin-top: 10./@rem;
    li {
      float: right;
      .setwh(16,16);
      margin-right: 10./@rem;
      background: url("../img/top_logos_sprite.png") no-repeat;
      &:hover {
        box-shadow: 1px 1px 20./@rem rgba(255,255,255,.5) inset;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    li:last-of-type {
      background: url("../img/weixin.png") no-repeat;
      background-size: 16./@rem 16./@rem;
    }
    li:nth-of-type(4) {
      background-position: 0 -216./@rem;
    }
    li:nth-of-type(3) {
      background-position: 0 -234./@rem;
    }
    li:nth-of-type(2) {
      background-position: 0 -270./@rem;
    }
    li:nth-of-type(1) {
      background-position: 0 0;
    }
  }
  .share-wechat {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -110./@rem;
    margin-top: -122./@rem;
    .setwh(210,230);
    border: 6./@rem solid #888;
    border-radius: 5./@rem;
    z-index: 99;
    box-sizing: border-box;
    .head {
      padding: 5./@rem 12./@rem;
      background-color: #f8f8f8;
      color: #666;
      font-size: 12./@rem;
      box-sizing: border-box;
      .close {
        font-weight: 700;
      }
    }
    .code {
      .setwh(198,190);
      padding: 15./@rem;
      box-sizing: border-box;
      background-color: #fff;
    }
  }
  .explain {
    width: 100%;
    margin: 20./@rem 0 20./@rem;
    font-size: 14./@rem;
    border: 1px solid #f8f8f8;
    color: #444;
    box-sizing: border-box;
    .text {
      margin-bottom: 10./@rem;
      padding: 15./@rem 0 15./@rem 20./@rem;
      background-color: #f8f8f8;
    }
    .pic {
      padding: 0 0 15./@rem 10./@rem;
      .setwh(860,545);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .correlation {
    .title {
      width: 100%;
      padding: 0 0 10./@rem 10./@rem;
      border-bottom: 1px dashed #ccc;
      font-size: 16./@rem;
      color: #333;
    }
    ul {
      margin: 10./@rem 0 60./@rem;
      width: 100%;
      overflow: hidden;
      li {
        float: left;
        margin-right: 25./@rem;
        text-align: center;
        .pic {
          .setwh(200,200);
          line-height: 200./@rem;
          border: 1px solid #f8f8f8;
          overflow: hidden;
          text-align: center;
        }
        .text {
          margin-top: 20./@rem;
          font-size: 14./@rem;
          color: #000;
        }
      }
    }
  }
}
// 环境展示 结束